body
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:pink;
}

.header_div
{
    background:white;
    color:blueviolet;
}

.header_div p
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aquamarine;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight:bold;
}

.main_div button
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight:bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position:fixed;
    color:cornflowerblue;
    bottom:0;
    width: 100%;
    font-size: 18px;
    background-color:gold;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}